@model UserFeedback
<html data-bs-theme="dark">
<head>
	<title>Dota Picking Partner</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="~/css/IndexStyle.css">
</head>
<div class="container-fluid">
<body>
    @using (Html.BeginForm("PostUserFeedback", "Home", FormMethod.Post)){
        <div class="form-group">
            <p>Comment: @Html.TextBoxFor(m => m.Comment, new {@class = "form-control", required="required", placeholder = "Let us know what you think about Dota Picking Partner"})</p>
        </div>
        <div class="form-group">
            <p>Contact Info: @Html.DisplayFor(m => m.ContactInfo)</p>
        </div>
        @Html.HiddenFor(m => m.ContactInfo)
        <button type="submit" class="btn btn-outline-dark">Submit</button>
    }
</body>
</div>
</html>